@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: #FFFFFF;
}
/*---------------------------------------------------MENU---------------------------------------------------*/
.menu {
    overflow: hidden;
    position: sticky;
    top: 0;
    font-size: 20px;
    padding: 25px 0px;
    z-index: 1;
}

.navbar {
    display: none;
}

ul.logo {
    list-style-type: none;
    float: left;
}

.menu-logo {
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
}

ul.logo2 {
    list-style-type: none;
}

.menu-list {
    float: right;
    padding: 0px 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a.menu-link {
    padding: 0px 10px;
    vertical-align: middle;
}

a.menu-link:hover {
    color: #02F0E2;
}

h2.section-title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 48px;
}

span.section-title-color {
    color: #02F0E2;
}



/*-----------------------------------------------------INFO-----------------------------------------------------*/


.info-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
    padding: 6% 0;
}

.info-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1 {
    font-size: 64px;
    height: 100vh;
    writing-mode:vertical-rl;
    position: absolute;
    left: 0;
}

h2.section-title {
    text-align: center;
    font-size: 48px;
    clear: both;
    margin-top: 64px;
}

span.section-title-color {
    color: #02F0E2;
}

h3 {
    font-size: 28px;
}


.button-primary {
    display:inline-block;
    text-decoration: none;
    color: #212121;
    background-color:#02F0E2;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    margin: 0 8px 0 0;
    width: 100px;   
}

.button-primary:hover {
    color:#212121;
    background-color: #fff;
    left: 100px;
    position: absolute;
    left: 20px;
}

.button-secondary {
    display:inline-block;
    text-decoration: none;
    color: #212121;
    background-color:#fff;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    margin: 12px auto;
    width: 100px;   
}

.button-secondary:hover {
    color:#212121;
    background-color: #02F0E2;
    position: absolute;
    left: 20px;
}

/*---------------------------------------------------IMAGES----------------------------------------------------*/
.work-container {
    text-align: center;
}

.work {
    width: 90vw;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.work-img {
    width: 100%;
}

.work-img:hover {
    transform: scale(0.0);
}




/*----------------------------------------------------CONTACT--------------------------------------------------*/
.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

form {
    width: 60%;
}

form input.form,textarea {
    width: 100%;
    height: 40px;
    border-radius: 0.3rem;
    padding: 0px 12px;
    margin-bottom: 1rem;
    background-color: #3F3F3F;
    color: #fff;
    transform: scale(0.2);
    transition: transform 10.0s;

}

textarea {
    height: 100px;
    margin-left: 3px;
    resize: none;
}

form textarea,input.form-text::placeholder{
    font-weight: 700;
    font-size: 17px;

}

form input.submit {
    color: #000;
    background-color:#02F0E2;
    font-weight: 600;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    width: 150px; 
    cursor: pointer; 
}

.submit:hover {
    color:#212121;
    background-color: #fff;
    position: absolute;
    right: 20px;
}

.social-container{
    background-color: #3F3F3F;
    border-radius: 8px;
}

.social {
    padding: 0px 48px 10px 10px;
    list-style-type: none;

}

.social-list {
    padding: 8px 0px;
}

.social-title {
    font-size: 23px;
    margin: 10px 0px 10px 8px;
    margin-bottom: 8px;
    color: #02F0E2;
    text-align: center;
}

img.icon {
    width: 20px;
    margin: 10px 10px;
    display: inline-block;
    vertical-align: middle;
}

p.social-text {
    display: inline-block;
}


/*----------------------------------------------------FOOTER--------------------------------------------------*/
footer {
    width: 100%;
    padding: 48px 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}


/*----------------------------------------------------POPOVER--------------------------------------------------*/
#open-popup:checked ~ #content {
    display: block;
  }
  #close-popup:checked ~ #content, #close-popup:checked ~ #close-popup-btn{
    display: none;
  }
  

  #close-popup-btn {
    position: relative;
  }

  .close-icon {
    width: 24px;
    height: 24px;
  }

  .close-icon:hover {
    opacity : 0.0;
  }
  
  #content {
    box-sizing: border-box;
    position: fixed;
    width: min(380px, 90vw);
    height: 160px;
    left: max(calc(60vw - 380px / 2), 4vw);
    top: calc(50vh - 80px);
    
    padding: 22px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-radius: 8px;
    box-shadow: 0px 30px 60px -30px #0000003c;
  }
  
  